/* ++++++++++++++++++
   Startup
   ++++++++++++++++++ */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700 &display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;900&family=Ubuntu:wght@400;500;700&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-bgsec);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0bceaedc;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #202026;
  --clr-bgsec: #2b2b34;
  --bg-cards: #2f2e41;
  --clr-primary: #0bceaf;
  --clr-h: #f9f9f9;
  --clr-p: #f1f1f1;
}

/* ++++++++++++++++++
   General
   ++++++++++++++++++ */

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--clr-bg);
}

h1 {
  font-family: "Source Code Pro", monospace;
  color: var(--clr-h);
  font-size: 2rem;
}

h2 {
  color: var(--clr-h);
  font-size: 2.8rem;
  display: inline;
}

section h2 {
  padding-top: 0.25em;
  border-top: var(--clr-primary) solid 4px;
}

h3 {
  color: var(--clr-h);
  font-size: 2rem;
  font-weight: 500;
}

p {
  color: var(--clr-p);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: var(--clr-h);
}

a:hover {
  color: var(--clr-primary);
}

ul {
  list-style: none;
  font-size: 1.5rem;
  color: var(--clr-h);
}

hr {
  display: inline-block;
  border-color: var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-primary);
  height: 0.4rem;
  width: 10rem;
}

img {
  max-width: 100%;
}

.bold {
  font-weight: 700;
}

nav ul {
  font-weight: 500;
}

header {
  background-color: var(--clr-bgsec);
}

.btn-primary {
  color: var(--clr-h);
  background-color: var(--clr-primary);
  font-weight: 700;
  display: inline-block;
  border: none;
  padding: 0.75em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: inherit;
}

.btn-secondary {
  color: var(--clr-h);
  background-color: #121216;
  font-weight: 700;
  display: inline-block;
  border: none;
  padding: 0.75em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: inherit;
}

.btn-primary:hover,
.btn-secondary:hover {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}

.projects h3 {
  color: var(--clr-primary);
}

.passions i {
  font-size: 5.5rem;
  color: var(--clr-primary);
}

.stats i {
  color: var(--clr-primary);
  width: 25px;
  text-align: center;
}

.cta2 i,
.cta i {
  color: var(--clr-h);
  font-size: 2.2rem;
  padding: 0.35em;
  border: var(--clr-bgsec) solid 5px;
  border-radius: 50%;
  cursor: pointer;
}

.cta i {
  border: var(--clr-primary) solid 5px;
}

.cta i:hover,
.cta2 i:hover {
  color: var(--clr-primary);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}

.fa-bars {
  color: var(--clr-h);
  font-size: 2rem;
}

.konsole {
  font-family: "Source Code Pro", monospace;
}

.konsole span {
  display: inline-block;
  width: 7px;
  height: 1.25rem;
  background: var(--clr-primary);
  border-radius: 1px;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.konsole p {
  font-size: 1.5rem;
}

.konsole b {
  font-weight: 900;
}

.hello-desc {
  font-size: 1.6rem;
  font-weight: 600;
}

.hello-desc span {
  font-style: italic;
}

.hello {
  font-size: 2.7rem;
  font-weight: 700;
}

.stats li {
  font-size: 1.5rem;
  font-weight: 500;
}

.stats i {
  color: var(--clr-primary);
}

.cta-head {
  color: var(--clr-primary);
  font-size: 2.5rem;
  font-weight: 700;
}

.cta-head span {
  font-style: italic;
}

.cta-body {
  color: var(--clr-h);
  font-size: 1.7rem;
  font-weight: 500;
}

/* ++++++++++++++++++
   Layout (Mobile)
   ++++++++++++++++++ */

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop {
  display: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

i {
  margin: 0.19em;
}

h1 {
  display: inline;
}

.nav-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-nav {
  width: 80%;
  height: 50px;
  margin: auto;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
}
nav .mobile {
  text-align: center;
  padding: 3em;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  width: 75%;
  height: 100vh;
  background-color: var(--bg-cards);
}

nav .mobile li {
  display: block;
  padding: 1em;
  border-bottom: var(--clr-primary) solid 3px;
}

nav .mobile .bold {
  border-top: var(--clr-primary) solid 3px;
}

.fa-times {
  font-size: 3rem;
  color: rgb(212, 78, 78);
  margin-bottom: 3em;
}

header .btn-wrapper {
  display: none;
}

.konsole {
  justify-content: center;
  order: 1;
  max-width: 320px;
  min-width: 300px;
  margin: 3em 0;
  padding: 1em 0;
  border-radius: 0.75em;
  background-color: var(--clr-bgsec);
}

.cta2 {
  order: 2;
}

.stats {
  order: 3;
  text-align: center;
}

.cta2 {
  align-self: center;
  text-align: center;
}

.avatar img {
  border-radius: 50%;
}

.avatar {
  background-image: linear-gradient(
    65deg,
    rgba(46, 204, 113, 0.4),
    rgba(243, 156, 18, 0.4)
  );
  background-color: #0bceaf;
  background-size: contain;
  border-radius: 50%;
  border: var(--clr-bgsec) 2.5em solid;
  margin-bottom: 1.3em;
  width: 85%;
  margin: auto;
}

.avatar img:hover {
  opacity: 0.8;
}

.cta-row {
  margin-top: 1.3em;
}

.popup {
  position: fixed;
  padding: 3em;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-cards);
  visibility: hidden;
  opacity: 0;
  /* "delay" the visibility transition */
  -webkit-transition: opacity 0.5s, visibility 0s linear 0.5s;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
  z-index: 1;
  text-align: center;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.popup-close {
  position: absolute;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
}
.popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color 0.3s;
  font-size: 2em;
  line-height: 0.6em;
  font-weight: bold;
}
.popup .close:hover {
  color: #00e5ee;
}

.close-popup {
  background: rgba(0, 0, 0, 0.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  /* "delay" the visibility transition */
  -webkit-transition: opacity 0.5s, visibility 0s linear 0.5s;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}
.popup:target + .close-popup {
  opacity: 1;
  visibility: visible;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.ctn-prm {
  color: var(--clr-primary);
}

.close {
  font-size: 20rem;
  color: #b62929;
}

.cta3 {
  display: none;
}

.hello {
  margin-top: 1.3em;
  margin-bottom: 0.6em;
}

.stats-list {
  margin-top: 1.8em;
  margin-bottom: 5em;
}

.about img {
  margin-bottom: 2.2em;
}

.about {
  margin-bottom: 5em;
}

h2 {
  margin-bottom: 0.8em;
}

.passions i {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

.passions h2 {
  margin-bottom: 0.2em;
}

.passions h3 {
  margin-bottom: 0.7em;
}

.passions {
  margin-bottom: 5em;
}

.ct-head {
  margin-bottom: 3.5em;
}

.projects .ct-head {
  margin-bottom: 5em;
}

.tech-wrapper {
  text-align: center;
}

.tech-btn {
  text-align: center;
  background-color: var(--clr-bgsec);
  display: inline-block;
  padding: 1em 1em;
  border-radius: 10em;
  min-width: 115px;
  width: 10%;
  margin: 2%;
}

.tech-space {
  display: inline-block;
  width: 25%;
}

.tech-btn i,
.tech-btn p {
  display: inline-block;
}

.tech-btn i {
  font-size: 1.5em;
  color: var(--clr-primary);
}

.tech-btn img {
  color: #0bceaf;
}

.technologies {
  margin-bottom: 10em;
}

.technologies h2,
.projects h2 {
  text-align: center;
}

.tech-wrapper {
  animation: float 12s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatex(0px);
  }
  25% {
    transform: translatex(-20px);
  }
  75% {
    transform: translatex(20px);
  }
  100% {
    transform: translatex(0px);
  }
}

.projects img {
  border-radius: 2em 2em 0 0;
}

.card {
  background-color: var(--clr-bgsec);
  margin-bottom: 4em;
  border-radius: 2em;
}

.card-body {
  width: 80%;
  height: 80%;
}

.card h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.card p {
  margin-bottom: 3em;
}

.projects {
  margin-bottom: 5em;
}

.cta-head {
  margin-bottom: 1em;
}

.cta-body {
  margin-bottom: 1em;
}

.cta {
  margin-bottom: 5em;
}

footer {
  background-color: var(--clr-bgsec);
  height: 50px;
  justify-content: center;
}

.fa-heartbeat {
  color: #b62929;
  animation: beat 2s ease infinite;
}

@keyframes beat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

/* ++++++++++++++++++
   Media Quereis (For Desktop)
   ++++++++++++++++++ */

@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
    align-items: flex-start;
  }

  h2 {
    font-size: 3.2rem;
  }

  .center-off {
    text-align: start;
  }

  .menu {
    display: none;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  nav {
    display: flex;
  }

  header .btn-wrapper {
    display: flex;
  }

  nav li {
    padding: 0 0.8em;
  }

  .column {
    flex: 1;
  }

  .hero-cont {
    height: 100vh;
    min-height: 550px;
  }
  .hello {
    font-size: 3.4rem;
  }

  .hero-cont .column {
    align-self: center;
  }

  .konsole {
    margin-top: 0;
    margin-bottom: 0.75em;
  }
  .stats {
    text-align: left;
  }

  .avatar {
    width: 57%;
    height: 57%;
  }

  .cta3 {
    display: flex;
  }

  .stats-list {
    margin-bottom: 3em;
  }

  .cta3 .btn-primary {
    margin-right: 1em;
  }

  .about img {
    width: 85%;
    text-align: justify;
  }

  .about-content {
    width: 90%;
    margin: auto;
  }

  .about {
    margin-bottom: 15em;
  }

  .passions h2 {
    text-align: center;
  }

  .passions-col {
    width: 90%;
    margin: auto;
  }

  .passions {
    margin-bottom: 15em;
  }

  .projects .card {
    width: 90%;
    margin: auto;
    flex: 1;
  }

  .projects {
    margin-bottom: 15em;
  }

  .cta {
    margin-bottom: 10em;
  }
}

@media screen and (max-width: 768px) {
  .about .ct-head {
    margin-top: 3em;
  }
  .about {
    margin-bottom: 10em;
  }
  .passions {
    margin-bottom: 10em;
  }
}
